h1.main-heading {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Damion';
}

.small-logo {
  display: inline-block;
  max-width: 140px;
  vertical-align: middle;
}

img.logo {
  margin-top: 10px;
}

iframe.google-map {
  width: 500px;
  height: 300px;
  border: 0;
}

.weekly-schedule {
  max-width: 600px;
}

.weekly-schedule li {
  width: 100%;
  max-width: 250px;
  display: inline-block;
  margin: 0px 0px 10px 0px;
  padding: 2px;
  border: solid 2px;
}

.weekly-schedule span.time {
  width: 100%;
  background-color: #F8EA19;
  padding: 2px;
  display: block;
}
